.nav.navbar-nav li {
    float: none;
}

.navbar {
    margin-bottom: 0px;
}

.brand-image {
    max-width: 200px!important;
    display: inline-block;
    width: 100%;
}

.text-right {
    text-align: right!important;
}

.text-left {
    text-align: left!important;
}

.sidebar {
    background: #CCC;
}

.main-content {
    margin-left: 0;
}

@media ( min-width: 768px ) {
    .sidebar {
        position: fixed;
        left: 0;
        height: 100%;
        overflow-y: hidden;
    }
    .main-content {
        margin-left: 33.33333333%;
    }
}

@media ( min-width: 992px ) {
    .main-content {
        margin-left: 25%;
    }
}